@media (min-width: 1440px) and (max-width: 1920px) {
  .vertical-bullets {
    height: calc(100vh - 59px) !important;
    top: 74px !important;
    width: 40px;
  }
  .logo-placeholder {
    width: 236px;
    height: 48px;
  }
  .main-header {
    padding: 12px 24px;
  }
  .icon-phone {
    width: 136px;
    height: 27px;
  }
  .info-phone-clock {
    flex-direction: row-reverse;
    gap: 20px;
  }
  .sidebar {
    gap: 8px;
    top: 54%;
  }
  .sidebar-item {
    width: 36px;
    height: 36px;
  }
  .custom-table-header {
    font-size: 14px;
    padding: 0px 20px;
    height: 42px;
  }
  .custom-table {
    font-size: 14px;
  }
  .custom-table th,
  .custom-table td {
    padding: 8px 12px;
    width: 36.33%;
  }
  .custom-value-box,
  .cell-up,
  .cell-down {
    padding: 4px 12px;
  }
  .sidebar-nav li {
    margin: 16px 0;
  }
}
@media (max-width: 1440px) {
  .vertical-bullets {
    height: calc(100vh - 59px) !important;
    top: 74px !important;
    width: 40px;
  }
  .logo-placeholder {
    width: 236px;
    height: 48px;
  }
  .main-header {
    padding: 12px 24px;
  }
  .icon-phone {
    width: 136px;
    height: 27px;
  }
  .info-phone-clock {
    flex-direction: row-reverse;
    gap: 20px;
  }
  .sidebar {
    gap: 11px;
  }
  .sidebar-item {
    width: 36px;
    height: 36px;
  }
  .custom-table-card {
    min-width: 524px;
  }
  .custom-table-header {
    font-size: 14px;
    padding: 0px 20px;
    height: 42px;
  }
  .custom-table {
    font-size: 14px;
  }
  .custom-table th,
  .custom-table td {
    padding: 8px 12px;
    width: 36.33%;
  }
  .custom-value-box,
  .cell-up,
  .cell-down {
    padding: 4px 12px;
  }
  .calc-tool-container {
    max-width: 988px;
  }
  .about-us-container {
    max-width: 1068px;
    padding: 40px 43px 59px 58px;
  }
  .section::before {
    bottom: 49px;
  }
  iframe {
    height: 407px !important;
  }
  .etik-message-container {
    min-width: 968px;
  }

  .custom-table tbody tr td:nth-child(2),
  .custom-table tbody tr td:nth-child(3) {
    padding: 10px 4px;
  }

  .custom-table thead tr th:nth-child(2),
  .custom-table thead tr th:nth-child(3) {
    padding: 10px 4px;
  }
}

@media (max-width: 1280px) {
  .vertical-bullets {
    height: calc(100vh - 59px) !important;
    top: 74px !important;
    width: 40px;
  }
  .logo-placeholder {
    width: 236px;
    height: 48px;
  }
  .main-header {
    padding: 10px 22px;
  }
  .icon-phone {
    width: 71px;
    height: 18px;
  }
  .sidebar {
    gap: 11px;
  }
  .sidebar-item {
    width: 36px;
    height: 36px;
  }
  .custom-table-header {
    font-size: 14px;
    padding: 0px 20px;
    height: 42px;
  }
  .custom-table {
    font-size: 14px;
  }
  .custom-table th,
  .custom-table td {
    padding: 8px 12px;
    width: 36.33%;
  }
  .custom-value-box,
  .cell-up,
  .cell-down {
    padding: 4px 12px;
  }
  .custom-table-card {
    min-width: 477px;
  }
  .footer-content {
    justify-content: space-between;
  }
  .info-phone-clock {
    flex-direction: column;
  }
  .custom-table tbody {
    max-height: 423px;
  }
  .sidebar-nav li {
    margin: 18px 0;
  }
  .sidebar-nav a {
    font-size: 22px;
  }
  .tables-container {
    margin-top: 1.5rem;
    margin-right: 0.5rem;
  }
  .section::before {
    right: 57px;
    bottom: 55px;
  }
  .calc-tool-container {
    max-width: 915px;
  }
  .left-side-calc-tool {
    width: 60%;
  }
  .right-side-calc-tool {
    width: 40%;
  }
  .about-us-container {
    max-width: 937px;
    padding: 29px;
  }

  iframe {
    height: 407px !important;
  }
  .clock-box-tablet-screen {
    display: none;
  }
  .about-us-title {
    font-size: 16px;
  }
  .about-us-location {
    font-size: 18px;
  }
  .about-us-icon {
    margin-right: 25px;
  }
  .etik-message-container {
    min-width: 915px;
  }
  .etik-message-form {
    padding: 32px 53px 0 53px;
  }
  .etik-message-btn {
    margin-top: 2px;
  }
}

@media (max-width: 1024px) {
  .vertical-bullets {
    height: calc(100vh - 59px) !important;
    top: 74px !important;
    width: 40px;
  }
  .logo-placeholder {
    width: 236px;
    height: 48px;
    padding-right: 0;
  }
  .main-header {
    padding: 10px 22px;
  }
  .icon-phone {
    width: 106px;
    height: 27px;
  }
  .sidebar {
    gap: 11px;
  }
  .sidebar-item {
    width: 36px;
    height: 36px;
  }
  .custom-table-header {
    font-size: 14px;
    padding: 0px 20px;
    height: 42px;
  }
  .custom-table {
    font-size: 14px;
  }
  .custom-table-card {
    min-width: 385px;
  }
  .tables-container {
    gap: 13px;
  }
  .footer-content {
    justify-content: space-between;
  }
  .info-phone-clock {
    flex-direction: column;
  }
  .custom-table tbody {
    max-height: 500px;
  }
  .clock-box {
    display: none;
  }
  .calc-tool-container {
    max-width: 808px;
  }
  .calc-tool-input,
  .calc-tool-select {
    width: 200px !important;
  }
  .calc-tool-rate {
    padding: 12px 8px;
    font-size: 16px;
  }

  .about-us-container {
    max-width: 784px;
    padding: 33px;
  }

  iframe {
    height: 317px !important;
  }
  .about-us-title {
    font-size: 16px;
  }
  .about-us-location {
    font-size: 18px;
  }
  .about-us-icon {
    margin-right: 25px;
  }
  .clock-box-tablet-screen {
    display: flex;
  }
  .about-us-message-box {
    margin-left: 0px;
  }
  .etik-message-container {
    min-width: 734px;
  }
  .etik-message-btn {
    margin-top: 40px;
  }

  .custom-table tbody tr td:nth-child(2),
  .custom-table tbody tr td:nth-child(3) {
    padding: 4px 4px;
  }

  .custom-table thead tr th:nth-child(2),
  .custom-table thead tr th:nth-child(3) {
    padding: 4px 4px;
  }
  .cell-up,
  .cell-down {
    padding: 4px 4px;
  }
  .custom-value-box {
    padding: 4px 14px;
  }
  .custom-table thead tr th:first-child {
    padding: 10px 10px;
  }
  .tables-container {
    margin-right: 2.5rem;
  }
  .custom-table tbody {
    padding: 10px 0px;
  }
}

@media (max-width: 820px) {
  .tables-container {
    display: block;
    overflow-y: auto;
    height: 100vh;
    scroll-snap-type: y mandatory;
    position: relative;
    justify-content: unset;
    align-items: unset;
    text-align: left;
  }
  .tables-container::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
  .tables-container::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .table-step {
    min-height: 100vh;
    scroll-snap-align: start;
    padding-bottom: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .custom-table-card {
    width: 100%;
    margin: 0;
    max-width: 524px;
  }
  .custom-table {
    width: 100%;
    margin: 0;
  }
  .table-bullets {
    position: absolute;
    left: 50%;
    bottom: 24px;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
    z-index: 10;
  }
  .table-bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ccc;
    display: inline-block;
    transition: background 0.2s;
    cursor: pointer;
  }
  .table-bullet.active {
    background: #007bff;
  }
  .custom-table td {
    width: 36.33%;
  }
  .calc-tool-container {
    max-width: 542px;
  }
  .calc-tool-content {
    flex-direction: row;
  }
  .calc-tool-row {
    flex-direction: column;
    gap: 16px;
    justify-content: start;
    align-items: start;
  }
  .calc-tool-input,
  .calc-tool-select {
    width: 152px !important;
  }
  .calc-tool-add-row {
    align-self: flex-start;
    max-width: 121px;
    font-size: 10px;
    font-weight: 900;
    margin-top: 1.6rem;
    border: 2px solid #002fba;
    padding: 6px;
    gap: 0px;
    font-size: 14px;
  }
  .left-side-calc-tool {
    gap: 6px;
  }
  .calc-tool-summary-input {
    width: 101px;
  }
  .right-side-calc-tool {
    gap: 64px;
  }
  .calc-tool-rate {
    min-width: 92px;
  }

  .about-us-container {
    max-width: 524px;
    padding: 33px;
    flex-direction: column;
    gap: 22px;
  }

  iframe {
    height: 243px !important;
  }
  .about-us-title {
    font-size: 16px;
  }
  .about-us-location {
    font-size: 18px;
  }
  .about-us-icon {
    margin-right: 25px;
  }
  .clock-box-tablet-screen {
    display: flex;
  }
  .about-us-message-box {
    margin-left: 0px;
  }
  .about-us-left {
    flex-direction: row;
  }
  .wrapper-social {
    display: flex;
    flex-direction: column-reverse;
    align-self: start;
  }
  .about-us-socials img {
    margin-left: 0px;
  }
  .about-us-message-box {
    margin-top: 0px;
    padding: 10px 8px;
    font-size: 10px;
  }
  .about-us-right {
    width: 100%;
  }
  .etik-message-container {
    min-width: 474px;
  }
  .etik-message-btn {
    margin-top: 40px;
  }
  .tables-container {
    margin-right: 1.5rem;
  }
}

@media (max-width: 433px) {
  .tables-container {
    margin: 0px 0px 0px 1rem;
  }
  .table-step {
    justify-content: center;
  }
  .main-header {
    display: none !important;
  }
  .mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #081028;
    padding: 8px 16px;
    width: 100%;
    box-sizing: border-box;
    min-height: 48px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
  }
  .mobile-logo-zuha {
    width: 165px;
    height: 33px;
    object-fit: contain;
  }
  .mobile-logo-borsa {
    height: 28px;
    width: auto;
    object-fit: contain;
    margin-left: 12px;
  }
  .footer-logo-two,
  .footer-logo-two-wrapper {
    display: none !important;
  }
  .scroll-container {
    height: calc(100vh - 49px);
    margin-top: 49px;
  }
  .vertical-bullets {
    height: calc(100vh - 49px) !important;
    top: 49px !important;
    width: 40px;
  }
  .table-section .custom-table-card {
    max-width: 72vw !important;
    min-width: unset !important;
    margin: 1rem auto 4rem auto;
    box-sizing: border-box;
  }
  .custom-table {
    width: 100% !important;
  }
  .custom-table-header {
    font-size: 12px;
  }
  .custom-table-header-item {
    font-size: 12px;
  }
  .sidebar {
    width: 40px;
    padding: 10px 4px;
    gap: 18px;
    top: 50%;
  }
  .sidebar-item {
    width: 30px;
    height: 30px;
  }
  .trend-up-icon,
  .trend-down-icon {
    width: 10px;
    height: 10px;
  }
  .sidebar-nav {
    width: 264px;
  }
  .sidebar-nav li {
    margin: 14px 0;
  }
  .sidebar-nav a {
    font-size: 20px;
  }
  .section::before {
    background: transparent;
  }
  .main-footer {
    padding: 10px 0px 18px 18px;
  }
  .trend-up-icon {
    display: none;
  }
  .trend-down-icon {
    display: none;
  }
  .trend-down-icon-mobile {
    display: block;
    height: 10px;
    width: 10px;
    margin-left: 8px;
  }
  .trend-up-icon-mobile {
    display: block;
    height: 10px;
    width: 10px;
    margin-left: 8px;
  }

  .calc-tool-container {
    max-width: 309px;
  }
  .left-side-calc-tool {
    flex-direction: column;
    width: 100%;
  }
  .right-side-calc-tool {
    flex-direction: column;
    width: 100%;
  }
  .calc-tool-input {
    width: 92% !important;
    padding: 10px 10px;
  }
  .calc-tool-summary-input {
    width: 75% !important;
    padding: 10px 10px;
  }
  .calc-tool-select {
    width: 100% !important;
    padding: 10px 10px;
  }
  .calc-tool-content {
    flex-direction: column;
  }
  .calc-tool-col {
    width: 100% !important;
  }
  .right-side-calc-tool {
    gap: 14px;
  }
  .calc-tool-summary-row {
    flex-direction: column;
    align-items: start;
    min-width: 261px;
    margin-bottom: 8px;
  }
  .calc-tool-add-row {
    margin-top: 0px;
  }

  .about-us-container {
    max-width: 309px;
    padding: 18px;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 7rem;
  }
  .about-us-item {
    font-size: 14px;
  }

  iframe {
    height: 147px !important;
  }
  .about-us-title {
    font-size: 16px;
  }
  .about-us-location {
    font-size: 18px;
  }
  .about-us-icon {
    margin-right: 14px;
    width: 16px;
    height: 16px;
    padding: 7px;
  }
  .about-us-message-box {
    margin-left: 0px;
  }
  .about-us-left {
    flex-direction: column;
  }
  .wrapper-social {
    display: flex;
    flex-direction: column-reverse;
    align-self: start;
  }
  .about-us-socials img {
    margin-left: 0px;
  }
  .about-us-message-box {
    margin-top: 0px;
    padding: 10px 8px;
    font-size: 10px;
  }
  .about-us-right {
    width: 100%;
  }

  .etik-message-container {
    min-width: 300px;
    margin-bottom: 6rem;
  }
  .etik-message-btn {
    margin-top: 40px;
  }
  .etik-message-row {
    flex-direction: column;
  }
  .etik-message-form {
    padding: 20px;
  }
  .custom-table-header {
    height: 47px;
  }
  .custom-table thead tr th:first-child {
    width: 50%;
    text-align: left;
    padding: 14px 8px;
    font-size: 11px;
  }
  .custom-table tbody tr td:first-child {
    width: 38%;
    text-align: left;
    padding: 10px 8px;
    align-self: center;
    font-size: 11px;
  }

  .custom-table tbody tr td:nth-child(2),
  .custom-table tbody tr td:nth-child(3) {
    width: 31%;
    text-align: center;
    padding: 14px 4px;
    font-size: 11px;
  }

  .custom-table thead tr th:nth-child(2),
  .custom-table thead tr th:nth-child(3) {
    width: 25%;
    text-align: left;
    padding: 14px 8px;
    font-size: 11px;
  }
  .custom-table thead {
    padding: 10px 0px;
  }
  .cell-up,
  .cell-down,
  .custom-value-box {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 8px;
  }
  .custom-table tbody {
    max-height: 573px;
  }
}

@media (max-width: 375px) {
  .tables-container {
    margin: 0px 0px 0px 1rem;
  }
  .table-step {
    justify-content: center;
  }
  .main-header {
    display: none !important;
  }
  .mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #081028;
    padding: 8px 16px;
    width: 100%;
    box-sizing: border-box;
    min-height: 48px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
  }
  .mobile-logo-zuha {
    width: 165px;
    height: 33px;
    object-fit: contain;
  }
  .mobile-logo-borsa {
    height: 28px;
    width: auto;
    object-fit: contain;
    margin-left: 12px;
  }
  .footer-logo-two,
  .footer-logo-two-wrapper {
    display: none !important;
  }
  .scroll-container {
    height: calc(100vh - 49px);
    margin-top: 49px;
  }
  .vertical-bullets {
    height: calc(100vh - 49px) !important;
    top: 49px !important;
    width: 40px;
  }
  .table-section .custom-table-card {
    max-width: 72vw !important;
    min-width: unset !important;
    margin: 1rem auto 4rem auto;
    box-sizing: border-box;
  }
  .custom-table {
    width: 100% !important;
  }
  .custom-table-header {
    font-size: 10px;
  }
  .custom-table-header-item {
    font-size: 10px;
  }
  .sidebar {
    width: 35px;
    padding: 8px 4px;
    gap: 6px;
    top: 50%;
  }
  .sidebar-item {
    width: 30px;
    height: 30px;
  }
  .trend-up-icon,
  .trend-down-icon {
    width: 10px;
    height: 10px;
  }
  .sidebar-nav {
    width: 264px;
  }
  .sidebar-nav li {
    margin: 14px 0;
  }
  .sidebar-nav a {
    font-size: 20px;
  }
  .section::before {
    background: transparent;
  }
  .main-footer {
    padding: 10px 0px 18px 18px;
  }
  .trend-up-icon {
    display: none;
  }
  .trend-down-icon {
    display: none;
  }
  .trend-down-icon-mobile {
    display: block;
    height: 10px;
    width: 10px;
    margin-left: 8px;
  }
  .trend-up-icon-mobile {
    display: block;
    height: 10px;
    width: 10px;
    margin-left: 8px;
  }

  .calc-tool-container {
    max-width: 261px;
    margin-bottom: 5rem;
    margin-left: 3rem;
  }
  .left-side-calc-tool {
    flex-direction: column;
    width: 100%;
  }
  .right-side-calc-tool {
    flex-direction: column;
    width: 100%;
  }
  .calc-tool-input {
    width: 92% !important;
    padding: 4px 10px;
  }
  .calc-tool-summary-input {
    width: 75% !important;
    padding: 4px 10px;
  }
  .calc-tool-select {
    width: 100% !important;
    padding: 4px 10px;
  }
  .calc-tool-content {
    flex-direction: column;
    padding: 8px;
    gap: 4px;
  }
  .calc-tool-rate {
    padding: 4px 10px;
  }
  .calc-tool-summary-label {
    font-size: 12px;
  }
  .calc-tool-col {
    width: 100% !important;
  }
  .right-side-calc-tool {
    gap: 4px;
  }
  .calc-tool-summary-row {
    flex-direction: column;
    align-items: start;
  }
  .calc-tool-add-row {
    margin-top: 0px;
  }

  .about-us-container {
    max-width: 260px;
    padding: 14px;
    flex-direction: column;
    gap: 16px;
    margin-top: 0px;
    border-radius: 18px;
    margin-bottom: 0px;
  }
  .about-us-item {
    font-size: 10px;
  }

  iframe {
    height: 120px !important;
  }
  .about-us-title {
    font-size: 12px;
    margin-bottom: 4px;
  }

  .about-us-bar{
    width: 22px;
    height: 22px;
  }
  .about-us-location {
    font-size: 14px;
  }
  .about-us-icon {
    margin-right: 14px;
    width: 16px;
    height: 16px;
    padding: 7px;
  }
  .about-us-list{
    gap: 5px;
  }
  .about-us-message-box {
    margin-left: 0px;
  }
  .about-us-left {
    flex-direction: column;
  }
  .wrapper-social {
    display: flex;
    flex-direction: column-reverse;
    align-self: start;
  }
  .about-us-socials img {
    margin-left: 0px;
  }
  .about-us-message-box {
    margin-top: 0px;
    padding: 4px 8px;
    font-size: 10px;
  }
  .about-us-right {
    width: 100%;
  }
  .etik-message-header{
    font-size: 10px;
  }

  .etik-message-container {
    min-width: 260px;
    margin-bottom: 6rem;
  }
  .etik-message-btn {
    margin-top: 15px;
    width: 100%;
    height: 36px;
    margin: auto;
  }
  .etik-message-row {
    flex-direction: column;
  }
  .etik-message-form {
    padding: 12px;
  }
  .etik-message-input, .etik-message-textarea{
    padding: 4px 8px;
  }
  .etik-message-label{
    font-size: 10px;
  }
  .custom-table-header {
    height: 37px;
  }
  .custom-table thead tr th:first-child {
    width: 50%;
    text-align: left;
    padding: 8px 8px;
    font-size: 10px;
  }
  .custom-table tbody tr td:first-child {
    width: 40%;
    text-align: left;
    padding: 8px 8px;
    align-self: center;
    font-size: 10px;
  }

  .custom-table tbody tr td:nth-child(2),
  .custom-table tbody tr td:nth-child(3) {
    width: 30%;
    text-align: center;
    padding: 8px 4px;
    font-size: 10px;
  }

  .custom-table thead tr th:nth-child(2),
  .custom-table thead tr th:nth-child(3) {
    width: 25%;
    text-align: left;
    padding: 8px 8px;
    font-size: 10px;
  }
  .custom-table thead {
    padding: 8px 0px;
  }
  .cell-up,
  .cell-down,
  .custom-value-box {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 8px;
  }
  .custom-table tbody {
    max-height: 573px;
  }
  .calc-tool-header {
    font-size: 11px;
    padding: 12px 20px;
  }
}

/* min screen */

@media (min-width: 1440px) {
  .clock-box-tablet-screen {
    display: none;
  }
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .clock-box-tablet-screen {
    display: none;
  }
}
